# Dependencias y build
/node_modules
/.pnp
.pnp.js
/dist
/build
/dist-ssr

# Archivos de entorno y configuración sensible
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase.json

# Archivos de logs y temporales
*.log
logs/
*.tmp
*.temp

# Archivos de datos y dumps
*.sqlite
*.db
*.bak
*.csv
*.json
*.txt

# Archivos de imágenes y multimedia grandes (opcional, si no quieres subir imágenes)
# /public/images/

# Archivos de configuración de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros archivos y carpetas sensibles
supabase/

# Archivos de scripts y utilidades de desarrollo
/scripts/

# Otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
